
.custom-link a:link {
    text-decoration: none;
    color: blue
}

.custom-link a:active {
    text-decoration: blink
}

.custom-link a:hover {
    text-decoration: underline;
    color: red
}

.custom-link a:visited {
    text-decoration: none;
    color: green
}


.center {
    max-width: 500px;
    margin: 20px auto;
}

.Responsive-Box video {
    height: 600px;
}

@media screen and (max-height: 800px) {
    .Responsive-Box video {
        max-height: 600px;
    }

}

.main {
    max-width: 1400px;
}

@media screen and (max-width: 1400px) {
    .main {
        max-width: 100%;
    }
}

.tag {
    cursor: pointer;
}