<!--Footer here-->
<footer class="w3-container w3-padding-64 w3-center w3-black w3-large w3-bottombar">
    <a class="github-button" href="https://github.com/songwonderful" data-size="large" data-show-count="true" aria-label="Follow @songwonderful on GitHub">Follow @songwonderful</a>
    <a class="github-button" href="https://github.com/songwonderful/practice-nodejs" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star songwonderful/practice-nodejs on GitHub">Star</a>
    <a class="github-button" href="https://github.com/songwonderful/practice-nodejs/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork songwonderful/practice-nodejs on GitHub">Fork</a>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <div>粤ICP备19052586号</div>
</footer>
<%- include('end')%>
