<!--Navigation Bar here-->
<div class="w3-bar w3-black w3-border w3-card-4" style="border-width: 0 !important;">
    <a href="/" class="w3-bar-item w3-button w3-mobile w3-red">Home</a>
    <a href="/archive" class="w3-bar-item w3-button w3-mobile">Archive</a>
    <a href="/user" class="w3-bar-item w3-button w3-mobile">User</a>
    <a href="/post" class="w3-bar-item w3-button w3-mobile">Post</a>
    <a href="/about" class="w3-bar-item w3-button w3-mobile">About</a>
    <a href="/links" class="w3-bar-item w3-button w3-mobile">Links</a>
</div>
