<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3>Comment</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
            <div style="padding: 0">
                <img alt="avatar" class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png">
            </div>
        </div>
        <div class="col-sm-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Username</strong> <span class="text-muted">commented at TIME</span>
                </div>
                <div class="panel-body">
                    Panel content
                </div>
            </div>
        </div>
    </div>
</div>
