</div>
</div>
</div>
<div id="footer">
    <div class="wrapper">
        <div class="container">
            <% let date = new Date(); const year = date.getFullYear();%>
            <button id="back-top" onclick="window.scrollTo({top:0,behavior:'smooth'})">TOP</button>
            <footer>
                <div>
                    <p>
                        © <%= year%> <a href="//<%= config.domain %>"><%=config.author%></a>.
                        Powered by <a href="https://github.com/songquanpeng/lightx-cms">Lightx-CMS</a>.
                    </p>
                </div>
            </footer>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@latest/build/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
</body>
</html>
