<!-- Footer bar -->
<footer class="navbar navbar-light bg-light d-flex justify-content-center">
    <div class="font-weight-bold text-center" style="margin-top: 16px">
        <p>Make with <a href="#" class="emoji-link">❤️</a> by <a href="https://github.com/songwonderful"
                                                                            style="text-decoration: none">JustSong</a>.
        </p>
    </div>
</footer>
<%- include('end')%>
