<!DOCTYPE html>
<html lang="<%=config.language%>">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%if(page !== undefined){%>
    <title><%= page.title %></title>
    <%} else{%>
    <title><%= config.title %></title>
    <%}%>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@9.17.1/styles/railscasts.css">
    <link rel="stylesheet" href="/lightx.css"/>
    <%- config.extra_header_code %>
</head>
<body>
<script>
  function timeToPath(time) {
    const date = time.split('-');
    return date[0] + '/' + date[1];
  }
</script>
<div id="page-container">
    <div id="content-wrap">
        <div class="wrapper">
            <div class="container">
