<div class="container">
    <% if(error && error != ""){ %>
        <div id="error-message" class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong><p><%= error %></p>
        </div>
        <script>
            $(document).ready(function () {
                $("#error-message").delay(25000).hide(300);
            });
        </script>
    <% } %>
    <% if(info && info != ""){ %>
        <div id="info-message" class="alert alert-success alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Info:</strong><p><%= info %></p>
        </div>
        <script>
            $(document).ready(function () {
                $("#info-message").delay(2000).hide(300);
            });
        </script>
    <% } %>
</div>
