<nav>
    <ul>
        <li><a href="/"><%= config.siteName %></a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/admin">Admin</a></li>
    </ul>
</nav>
