<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light font-weight-bold">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/archive">Archive</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user">User</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/post">Post</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/links">Links</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Message board</a>
                    <a class="dropdown-item" href="#">Contact me</a>
                    <a class="dropdown-item" href="#">Request friend link</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">License</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
