<!-- Navigation bar -->
<nav class="navbar sticky-top navbar-expand-lg navbar-light font-weight-bold bg-light">
    <a class="navbar-brand" href="/">JustSong</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/archive"><i class="fa fa-archive" aria-hidden="true" data-toggle="tooltip" title="archive of articles"></i> <span class="nav-text">Archive</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/links"><i class="fa fa-link" aria-hidden="true" data-toggle="tooltip" title="friend links"></i> <span class="nav-text">Links</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/about"><i class="fa fa-address-card" aria-hidden="true" data-toggle="tooltip" title="about me"></i> <span class="nav-text">About</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/songwonderful/lightx-cms" target="_blank"><i class="fa fa-github" aria-hidden="true" data-toggle="tooltip" title="fork LIGHT-X on github"></i> <span class="nav-text">Fork</span></a>
            </li>
            <% if(loggedIn) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/user"><i class="fa fa-user" aria-hidden="true" data-toggle="tooltip" title="administrative system"></i> <span class="nav-text">Mine</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post"><i class="fa fa-edit" aria-hidden="true" data-toggle="tooltip" title="post new articles"></i> <span class="nav-text">Post</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><i class="fa fa-sign-out" aria-hidden="true" data-toggle="tooltip" title="sign out"></i> <span class="nav-text">Logout</span></a>
                </li>
            <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href="/user"><i class="fa fa-sign-in" aria-hidden="true" data-toggle="tooltip" title="sign in"></i> <span class="nav-text">Login</span></a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#leaveMessageDialog" style="cursor: pointer"><i
                            class="fa fa-envelope" aria-hidden="true" data-toggle="tooltip" title="leave message to me"></i> <span class="nav-text">Feedback</span></a>
            </li>
            <li class="nav-item">
                <span class="nav-link" id="poetry"></span>
                <script>loadPoetry();</script>
            </li>
        </ul>
        <div class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 " id="search" type="search"
                   placeholder='SEARCH THIS SITE'
                   aria-label="Search" style="border: none">
            <script>
              function search() {
                let keyword = document.getElementById("search").value.replace(/\s+/g, "+");
                let googleUrl = "https://www.google.com/search?q=" + keyword + "+site%3Aiamazing.cn";
                let dogedogeUrl = "https://www.dogedoge.com/results?q=" + keyword + "+site%3Aiamazing.cn";
                window.open(googleUrl);
              }

              $(document).ready(function () {
                document.getElementById("search").addEventListener("keydown", function (event) {
                  if (event.key === "Enter") {
                    search();
                  }
                })
              });
            </script>
        </div>
    </div>
    <div class="modal fade" id="leaveMessageDialog">
        <div class="modal-dialog">
            <div class="modal-content plain-white-silk-color">
                <form action="/api/message" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Leave a message</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control plain-white-silk-color" name="title"
                                   id="title" placeholder="Input your message's title here." required>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control plain-white-silk-color" name="content" rows="5"
                                      id="content" placeholder="Input your message's content here." required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="toast" id="toast" data-autohide="false" style="z-index: 20">
    <div class="toast-header">
        <img src="/image/avatar.jpg" class="rounded mr-2" alt="avatar" width="20">
        <strong class="mr-auto" id="toastTitle"></strong>
        <small class="text-muted" id="toastTime"></small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body" id="toastContent">
    </div>
</div>
