<!-- Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-light font-weight-bold">
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/archive">Archive</a>
            </li>
            <% if(loggedIn) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/user">Mine</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/post">Post</a>
                </li>
            <% } %>
            <li class="nav-item">
                <a class="nav-link" href="/page/links">Links</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/page/about">About</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    More
                </a>
                <div class="dropdown-menu plain-white-silk-color" aria-labelledby="navbarDropdown">
                    <!--                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#myModal">Message board</a>-->
                    <% if(!loggedIn) { %>
                        <a class="dropdown-item" href="/user">Administrator login</a>
                    <% } %>
                    <a class="dropdown-item" target="_blank"
                       href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=M1JGR1xsXlJaX2xAVl1XVkFzQkIdUFxe">Contact
                        me</a>
                    <button type="button" class="dropdown-item" data-toggle="modal"
                            data-target="#leaveMessageDialog">
                        Leave a message
                    </button>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://songwonderful.github.io/online-shell/">Online terminal</a>
                    <a class="dropdown-item" href="https://songwonderful.github.io/population-simulator/">Population
                        simulator</a>
                    <a class="dropdown-item" href="https://songwonderful.github.io/online-battle-city/">Online battle
                        city</a>
                    <a class="dropdown-item" href="https://songwonderful.github.io/hacker-screen/">Hacker screen</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="https://github.com/songwonderful/blog-website" data-toggle="tooltip"
                       title="Please do it! 🥺">Star this project</a>
                </div>
            </li>
        </ul>
        <!--        <iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=298 height=52 src="//music.163.com/outchain/player?type=2&id=4010213&auto=0&height=32"></iframe>-->
        <div class="form-inline my-2 my-lg-0" action="https://www.google.com/search?q=site%3Aiamazing.cn&oq=site">
            <input class="form-control mr-sm-2 plain-white-silk-color" id="search" type="search"
                   placeholder="Search this site..."
                   aria-label="Search">
            <button class="btn btn-outline-dark my-2 my-sm-0" onclick="search()">Search</button>
            <script>
              function search() {
                let keyword = document.getElementById("search").value.replace(/\s+/g, "+");
                let googleUrl = "https://www.google.com/search?q=" + keyword + "+site%3Aiamazing.cn";
                let dogedogeUrl = "https://www.dogedoge.com/results?q=" + keyword + "+site%3Aiamazing.cn";
                window.open(dogedogeUrl);
              }

              $(document).ready(function () {
                document.getElementById("search").addEventListener("keydown", function (event) {
                  if (event.key === "Enter") {
                    search();
                  }
                })
              });
            </script>
        </div>
    </div>
    <div class="modal fade" id="leaveMessageDialog">
        <div class="modal-dialog">
            <div class="modal-content plain-white-silk-color">
                <form action="/api/message" method="post">
                    <div class="modal-header">
                        <h4 class="modal-title">Leave a message</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="title">Title:</label>
                            <input type="text" class="form-control plain-white-silk-color" name="title"
                                   id="title" placeholder="Input your message's title here." required>
                        </div>
                        <div class="form-group">
                            <label for="content">Content</label>
                            <textarea class="form-control plain-white-silk-color" name="content" rows="5"
                                      id="content" placeholder="Input your message's content here." required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Submit">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>

<div class="toast" id="toast" data-autohide="false">
    <div class="toast-header">
        <img src="/image/avatar.jpg" class="rounded mr-2" alt="avatar" width="20">
        <strong class="mr-auto" id="toastTitle"></strong>
        <small class="text-muted" id="toastTime"></small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body" id="toastContent">
    </div>
</div>
