<div class="paginator">
    <% if (prev){ %>
        <div class="prev" onclick="location.href='/pagination/<%- prev %>'">PREV</div>
    <% } else{%>
        <div class="prev" style="visibility: hidden;">PREV</div>
    <%}%>

    <% if (next){ %>
        <div class="next" onclick="location.href='/pagination/<%- next %>'">NEXT</div>
    <% } else{%>
        <div class="next" style="visibility: hidden;">NEXT</div>
    <%}%>
</div>
