<div class="prevNext">
    <div class="prev">
        <a class="prev" href="/page/<%= links.prev.link%>"><%= links.prev.title%></a>
    </div>
    <div class="next">
        <a class="next" href="/page/<%= links.next.link%>"><%= links.next.title%></a>
    </div>
</div>