<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous shadow" href="/page/<%= links.prev.link%>"><%= links.prev.title%></a>
    <a class="pagination-next shadow" href="/page/<%= links.next.link%>"><%= links.next.title%></a>
</nav>