body {
    font-family: Verdana, Candara, Arial, Microsoft YaHei,sans-serif;
    line-height: 1.6;
    margin: 0;
}

nav {
    margin-bottom: 16px;
}

.login-form {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.login-form .checkbox {
    font-weight: 400;
}

.login-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.login-form .form-control:focus {
    z-index: 2;
}

.login-form input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.login-form input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.article-list {
    margin-bottom: 16px;
    transition: 0.3s;
}

.article-list:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.hover-effect {
    transition: 0.3s;
}

.hover-effect:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-hover {
    cursor: pointer;
    transition: 0.3s;
}

.badge-hover:hover {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

#back-top {
    display: block;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.6s;
    z-index: 2;
    background-color: #999;
    color: #ffffff;
    text-align: center;
    border-width: 0;
    outline: none;
    cursor: pointer;
}

#back-top:hover{
    background-color: #666;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 600px) {
    #back-top {
        bottom: 20px;
        right: 15px;
        background: rgba(117,117,117, 0.5);
    }
}

.article-container {
    /*box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);*/
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 16px;
    word-break: break-word;
    line-height: 1.6;
}

@media screen and (max-width: 600px) {
    .article-container {
        padding-left: 3px;
        padding-right: 3px;
    }
}

article {
    overflow-wrap: break-word;
    font-size: larger;
}

footer {
    margin-top: 16px;
}

nav {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

nav:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.shadow-box {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.shadow-box:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.emoji-link {
    text-decoration: none;
}

.emoji-link:hover {
    text-decoration: none;
}

/*body {*/
/*    background-image: url("/image/background.png");*/
/*    background-color: #ffffff;*/
/*}*/

#search:focus {
    border-color: rgba(242, 236, 222, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 236, 222, 0.6);
    outline: 0 none;
}

.plain-white-silk-color {
    background-color: #ffffff;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.panel {
    position: relative;
}

.panel > .panel-heading:after, .panel > .panel-heading:before {
    position: absolute;
    top: 11px;
    left: -16px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: " ";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.panel > .panel-heading:after {
    border-width: 7px;
    border-right-color: #f7f7f7;
    margin-top: 1px;
    margin-left: 2px;
}

.panel > .panel-heading:before {
    border-right-color: #ddd;
    border-width: 8px;
}

#toast {
    position: fixed;
    top: 100px;
    right: 20px;
    min-width: 300px;
}

@media screen and (max-width: 600px) {
    #toast {
        left: 0;
        right: 0;
    }
}

@media screen and (max-width: 1350px) and (min-width: 980px) {
    .nav-text {
        display: none;
    }
}

.home-banner {
    background: linear-gradient(-45deg, #ba86f1, #93c5ff, #56c8ff, #cafbff);
    width: 100%;
    height: 100vh;
    background-size: 400% 400%;
    animation: gradientBackground 12s ease infinite;
}

.banner-center {
    width: 100%;
    position: absolute;
    top: 35%;
    text-align: center;
    color: white;
}

@keyframes gradientBackground {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-family: "Roboto Slab", "Droid Serif", AvenirNext-Bold, "Avenir Bold", "Times New Roman", Times, Georgia, STKaiti, SimSun, serif;
    font-weight: normal;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
    border-bottom: 1px solid #ddd;
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}

article h1 {
    font-size: 1.7em;
    margin: 0.67em 0;
    font-weight: 200;
}

article h2 {
    font-size: 1.5em;
}

article h3 {
    font-size: 1.3em;
}

article h4 {
    font-size: 1.2em;
}

article h5,
h6 {
    font-size: 1em;
}

article table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
}

article table td,
article table th {
    padding: 5px 8px;
    border: 1px solid #bbb;
}

article table th {
    background-color: #ddd;
}

article table tr:nth-child(2n) {
    background-color: #eee;
}

article a {
    color: #368CCB;
    text-decoration: none;
}

article blockquote {
    margin-left: 0;
    padding: 0 1em;
    font-size: smaller;
    border-left: 5px solid #ddd;
}

article pre {
    overflow-x: auto;
}

article code {
    color: #bc9458;
    padding: .065em .4em;
}

article .copyright{
    display: none;
}
