<%- include('header') %>
<%- include('navigation') %>
<!--Content here-->
<div class="w3-content" style="max-width:1400px">
    <br>
    <div class="w3-container w3-card-4">
        <p>Nothing Special</p>
    </div>
</div>
<%- include('end') %>