<%- include('header') %>
<%- include('navigation') %>
<!--Content here-->
<div class="w3-content" style="max-width:1400px">
    <br>
    <div class="w3-container w3-card-4 w3-center" style="margin-top: 20px;margin-bottom: 20px">
        <a class="github-button" href="https://github.com/songwonderful" data-size="large" data-show-count="true" aria-label="Follow @songwonderful on GitHub">Follow @songwonderful</a>
    </div>
    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</div>
<%- include('end') %>