<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<!--Content here-->
<div class="container article-container bg-light">
    <article>
        <%- article.content %>
    </article>
</div>
<script>hljs.initHighlightingOnLoad();</script>
<%- include('./partials/end') %>
