<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<!--Content here-->
<div class="container article-container">
    <article>
        <%- article.content %>
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <ins class="adsbygoogle"
             style="display:block; text-align:center;"
             data-ad-layout="in-article"
             data-ad-format="fluid"
             data-ad-client="ca-pub-4932639067711253"
             data-ad-slot="4180812612"></ins>
        <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </article>
</div>

<script>hljs.initHighlightingOnLoad();</script>
<%- include('./partials/end') %>
