<%- include('header') %>
<%- include('navigation') %>
<!--Content here-->
<div class="w3-content">
    <br>
    <table class="w3-table w3-card-4" style="cursor: pointer">
        <tr>
            <th>Tag</th>
            <th>Description</th>
        </tr>
        <tr onclick="window.open('https://www.w3schools.com/')">
            <td>Web Tutorial</td>
            <td>w3schools</td>
        </tr>
        <tr onclick="window.open('https://www.tutorialspoint.com/')">
            <td>Tutorial</td>
            <td>tutorialspoint</td>
        </tr>
        <tr onclick="window.open('https://www.geeksforgeeks.org')">
            <td>Algorithm</td>
            <td>GeeksForGeeks</td>
        </tr>
        <tr onclick="window.open('https://www.runoob.com/')">
            <td>Tutorial</td>
            <td>runoob</td>
        </tr>
        <tr onclick="window.open('https://www.javatpoint.com/')">
            <td>Tutorial</td>
            <td>JavaPoint</td>
        </tr>
    </table>
</div>
<%- include('end') %>