<%- include('./partials/header') %>
<%- include('./partials/nav') %>

<div class="code-page">
    <div class="control-panel">
        <span>Control panel: </span>
        <button id="darkBtn" onclick="changeBackground()">Dark</button>
    </div>
    <pre>
        <code id="code-display"><button class="copy-button" onclick="copyCode()">Copy</button><%=page.content%></code>
    </pre>
    <label>
        <textarea id="hiddenTextArea" style="position: absolute;left: -100%;"></textarea>
    </label>
</div>

<script>
    const body = document.getElementsByTagName("body")[0];
    const darkBtn = document.getElementById('darkBtn');
    let dark = false;
    function copyCode() {
      const copyText = document.getElementById("code-display").textContent;
      const textArea = document.getElementById('hiddenTextArea');
      textArea.textContent = copyText.substring(4);
      document.body.append(textArea);
      textArea.select();
      document.execCommand("copy");
    }

    function changeBackground() {
      if(dark){
        body.setAttribute('class', '');
        darkBtn.innerText = 'Dark';
      }else{
        body.setAttribute('class', 'hljs');
        darkBtn.innerText = 'Light';
      }
      dark = !dark;
    }

    function fullScreen() {

    }
</script>


<%- include('./partials/footer') %>
