<%- include('header') %>
<!--Content here-->
<div class="center">
    <div class="w3-card-4 w3-white w3-margin w3-center">
        <p class="w3-jumbo">:(</p>
        <p class="w3-xlarge">
            <%= error %>
        </p>
        <br>
        <a href="/" class="w3-xlarge">Go to homepage</a>
        <br>
        <br>
    </div>
</div>

<%- include('end') %>
