<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<div class="container">
    <div id="error-message" class="alert alert-danger alert-dismissible fade show shadow-box">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong><p><%= message %></p>
    </div>
</div>
<%- include('./partials/footer') %>
