<!--Footer here-->
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-black w3-large w3-bottombar">
    <p class="w3-medium">Designed by <a href="https://github.com/songwonderful" target="_blank">Song</a>. Powered by <a
                href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>. Hosted on <a
                href="https://github.com/songwonderful/songwonderful.github.io" target="_blank">Github</a>. Learn from <a
                href="https://www.w3schools.com/w3css/w3css_templates.asp" target="_blank">W3schools</a>.</p>
</footer>
<%- include('end')%>
