<!DOCTYPE html>
<html lang="en">
<!--Visit https://github.com/songwonderful/songwonderful.github.io for source code-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JustSong</title>
    <link rel="stylesheet" href="/public/stylesheets/w3.css">
    <link rel="stylesheet" href="/public/stylesheets/custom.css">
    <link rel="stylesheet" href="/public/stylesheets/code_editor.css">
    <script src="/public/javascripts/jquery-3.3.1.min.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="https://avatars2.githubusercontent.com/u/39998050?s=400&v=4">
</head>
<body>
