<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<!--Content here-->
<div class="w3-content" style="max-width:1400px">
    <div class="w3-card-4 w3-white" style="margin: 16px 3px">
        <div class="w3-container w3-large article-font" style="overflow: auto;">
            <%- article.content %>
        </div>
        <hr>
    </div>
</div>
<%- include('./partials/end') %>
