
.custom-link a:link {
    text-decoration: none;
    color: blue
}

.custom-link a:active {
    text-decoration: blink
}

.custom-link a:hover {
    text-decoration: underline;
    color: red
}

.custom-link a:visited {
    text-decoration: none;
    color: green
}


.center {
    max-width:500px;
    margin:20px auto;
}
