body {
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
    line-height: 1.6;
    margin: 0;
}

nav {
    margin-bottom: 16px;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

#page-container {
    position: relative;
    min-height: 97vh;
}

#content-wrap {
    padding-bottom: 4rem;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 4rem;
    left: 0;
    right: 0;
}

code {
    font-family: Consolas, 'Courier New', monospace;
}

.page-card-list {
    margin: 8px 8px;
}

.page-card-title {
    font-size: x-large;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}

.page-card-text {
    margin-top: 8px;
}

footer a {
    color: black;
}

.pagination {
    margin: 16px 4px;
}

.pagination a {
    border: none;
}

.shadow {
    box-shadow: 0 0.5em 1em -0.125em rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.02);
}

.paginator div {
    border: 2px solid #000;
    cursor: pointer;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.toc-level-1{
    list-style-type: none;
}

.toc-level-2 {
    list-style-type: none;
}

.toc-level-3 {
    list-style-type: disc;
}

.toc-level-4 {
    list-style-type: circle;
}

.toc-level-5 {
    list-style-type: square;
}

.toc-level-6 {
    list-style-type: square;
}

.archive-item time, .tag-item time , .category-item time{
    float: right;
}

img {
    max-width: 100%;
    max-height: 100%;
}

button, .button {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #4d4d4d;
    background-color: white;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

article {
    overflow-wrap: break-word;
    font-size: larger;
    word-break: break-word;
    line-height: 1.6;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-family: Georgia, 'Times New Roman', Times, STKaiti, KaiTi, serif;
    font-weight: bold;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
    margin-block-start: 1em;
    margin-block-end: 0.2em;
}

article h1 {
    font-size: 1.7em;
    margin: 0.67em 0;
}

article h2 {
    border-bottom: 2px solid #ddd;
    font-size: 1.5em;
}

article h3 {
    font-size: 1.3em;
}

article h4 {
    font-size: 1.2em;
}

article h5,
article h6 {
    font-size: 1em;
}

article p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

@media (max-width: 960px) {
    article h1 {
        font-size: 1.5em;
    }

    article h2 {
        font-size: 1.4em;
    }
}

article *::selection {
    background: #000;
    color: #fff;
}

article table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    text-align: left;
    min-width: 50%;
}

article table td,
article table th {
    padding: 5px 8px;
    border: 1px solid #bbb;
}

article a {
    color: #368CCB;
    text-decoration: none;
}

article blockquote {
    margin-left: 0;
    padding: 0 1em;
    font-size: smaller;
    border-left: 5px solid #ddd;
}

article pre {
    overflow-x: auto;
}

article code {
    color: #bc9458;
    padding: .065em .4em;
}

article .copyright{
    display: none;
}

article .info {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #738292;
    margin-bottom: 3em
}

article .info a {
    text-decoration: none;
    color: inherit;
}

/* Code Page Style*/
.code-page {
    margin-top: 16px;
}

.code-page code{
    font-size: 18px;
}

.code-page pre{
    margin-top: 2px;
}

.code-page .control-panel{
    width: 100%;
}

.comment {
    border-top: 2px solid #000;
}

.comment form {
    text-align: left;
    border: 1px solid #000;
}

.comment table {
    width: 100%;
}

.comment th {
    font-weight: normal;
}

.comment form {
    padding: 16px 8px 8px 8px;
}

.comment label {
    margin-left: 8px;
}

.comment input, .comment textarea {
    font-family: monospace;
    font-size: large;
    border: 1px solid #000;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.comment-card {
    border: 1px solid #000;
    color: #000;
    position: relative;
    margin-top: 6px;
}

.comment-card-title {
    padding: 6px 6px 2px 12px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, STKaiti, KaiTi, serif;
    font-weight: 500;
}

.comment-card-tag {
    padding: 0 12px;
    font-size: small;
}

.comment-card-tag a{
    color: #368CCB;
    text-decoration: none;
}

.comment-card-text {
    overflow-wrap: break-word;
    padding: 6px 12px;
}

.prevNext a {
    color: #000000;
    text-decoration: none;
    display: block;
}

.prevNext a:hover {
    color: #368CCB;
}

.prevNext {
    width: 100%;
    min-height: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.prevNext div {
    cursor: pointer;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    padding: 10px;
}

.discuss h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: left;
}

.discuss .time {
    font-size: 12px;
    line-height: 18px;
    text-align: left;
    color: #738292;
}

.discuss .content {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.raw .title {
    font-size: 1.7em;
    margin: 0.67em 0;
}

.raw .info {
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    color: #738292;
    margin-block-end: 0.5em
}

.raw .info a {
    text-decoration: none;
    color: inherit;
}

.color-0 {
    border-color: black;
}

.color-1 {
    border-color: blue;
}

.color-2 {
    border-color: orange;
}

.color-3 {
    border-color: olive;
}

.color-4 {
    border-color: green;
}

.color-5 {
    border-color: pink;
}

.color-6 {
    border-color: purple;
}

.color-7 {
    border-color: violet;
}