body {
    font-family: Verdana, Candara, Arial, Helvetica, Microsoft YaHei, sans-serif;
    line-height: 1.6;
    margin: 0;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto;
}

.container {
    margin: 8px;
}

#page-container {
    position: relative;
    min-height: 97vh;
}

#content-wrap {
    padding-bottom: 4rem;
}

#footer {
    position: absolute;
    bottom: 0;
    height: 4rem;
    left: 0;
    right: 0;
}

footer {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    color: #000;
    border-top: 2px solid #000;
}

footer a {
    color: #000;
    text-decoration: none;
}

nav {
    font-size: larger;
    border-bottom: 2px solid #000;
    margin-bottom: 8px;
}

nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    justify-content: left;
    white-space: nowrap;
}

nav li {
    display: inline;
    box-sizing: border-box;
    height: 50px;
    text-align: center;
    padding: 8px 16px 4px 2px;
}

nav a:link, nav a:visited, nav a:active {
    color: #000;
    text-decoration: none;
}

nav a:hover{
    font-weight: 500;
}

code {
    font-family: Consolas, 'Courier New', monospace;
}

.card {
    box-sizing: border-box;
    border: 2px solid #000;
    color: #000;
    background-color: #ffffff;
    position: relative;
    margin-bottom: 16px;
    padding: 1% 2% 3.5% 2%;
    font-size: larger;
    line-height: 1.6;
}

.card-title {
    padding: 12px 12px 4px 12px;
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, STKaiti, KaiTi, serif;
    font-weight: 500;
}

.card-title:hover a {
    color: #368CCB;
}

.card-tag {
    padding: 0 12px;
}

.card-tag a, .card-title a {
    color: #000000;
    text-decoration: none;
}

.card-text {
    overflow-wrap: break-word;
    padding: 12px;
}

.card-text a{
    color: #368CCB;
    text-decoration: none;
}

.shadow-box {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: 0.3s;
}

.shadow-box:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.badge-hover {
    cursor: pointer;
    transition: 0.3s;
}

.paginator {
    width: 100%;
    min-height: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.paginator div {
    border: 2px solid #000;
    cursor: pointer;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.toc-level-1{
    list-style-type: none;
}

.toc-level-2 {
    list-style-type: none;
}

.toc-level-3 {
    list-style-type: disc;
}

.toc-level-4 {
    list-style-type: circle;
}

.toc-level-5 {
    list-style-type: square;
}

.toc-level-6 {
    list-style-type: square;
}

.archive-item time, .tag-item time , .category-item time{
    float: right;
}

#back-top {
    /* display: block; */
    display: none;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: 0.6s;
    z-index: 2;
    background-color: #999;
    color: #ffffff;
    text-align: center;
    border-width: 0;
    outline: none;
    cursor: pointer;
}

#back-top:hover{
    background-color: #666;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 600px) {
    #back-top {
        bottom: 20px;
        right: 15px;
        background: rgba(117,117,117, 0.5);
    }
}

img {
    max-width: 100%;
    max-height: 100%;
}

.badge {
    display: inline-block;
    /* padding: 0.25em 0.4em; */
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    /* border-radius: 0.25rem; */
    padding: 3px;
    border: #000 2px solid;
    cursor: pointer;
}

.badge:hover {
    color: #368CCB;
}

button, .button {
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #4d4d4d;
    background-color: white;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}

article {
    overflow-wrap: break-word;
    font-size: larger;
    word-break: break-word;
    line-height: 1.6;
    padding: 16px;
    margin-bottom: 16px;
    background-color: #ffffff;
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
    font-family: Georgia, 'Times New Roman', Times, STKaiti, KaiTi, serif;
    font-weight: bold;
}

article h2,
article h3,
article h4,
article h5,
article h6 {
    margin-block-start: 1em;
    margin-block-end: 0.5em;
}

article h1 {
    font-size: 1.7em;
    margin: 0.67em 0;
}

article h2 {
    border-bottom: 2px solid #ddd;
    font-size: 1.5em;
}

article h3 {
    font-size: 1.3em;
}

article h4 {
    font-size: 1.2em;
}

article h5,
article h6 {
    font-size: 1em;
}

article p {
    margin-top: 0;
    margin-bottom: 1.25rem;
}

article *::selection {
    background: #000;
    color: #fff;
}

article table {
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
    text-align: left;
    min-width: 50%;
}

article table td,
article table th {
    padding: 5px 8px;
    border: 1px solid #bbb;
}

article a {
    color: #368CCB;
    text-decoration: none;
}

article blockquote {
    margin-left: 0;
    padding: 0 1em;
    font-size: smaller;
    border-left: 5px solid #ddd;
}

article pre {
    overflow-x: auto;
}

article code {
    color: #bc9458;
    padding: .065em .4em;
}

article .copyright{
    display: none;
}

/* Code Page Style*/
.code-page {
    margin-top: 16px;
}

.code-page code{
    font-size: 18px;
}

.code-page pre{
    margin-top: 2px;
}

.code-page .control-panel{
    width: 100%;
}

.comment {
    border-top: 2px solid #000;
}

.comment form {
    text-align: left;
    border: 1px solid #000;
}

.comment table {
    width: 100%;
}

.comment th {
    font-weight: normal;
}

.comment form {
    padding: 16px 8px 8px 8px;
}

.comment label {
    margin-left: 8px;
}

.comment input, .comment textarea {
    font-family: monospace;
    font-size: large;
    border: 1px solid #000;
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}

.comment-card {
    border: 1px solid #000;
    color: #000;
    position: relative;
    margin-top: 6px;
}

.comment-card-title {
    padding: 6px 6px 2px 12px;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, STKaiti, KaiTi, serif;
    font-weight: 500;
}

.comment-card-tag {
    padding: 0 12px;
    font-size: small;
}

.comment-card-tag a{
    color: #368CCB;
    text-decoration: none;
}

.comment-card-text {
    overflow-wrap: break-word;
    padding: 6px 12px;
}

.prevNext a {
    color: #000000;
    text-decoration: none;
    display: block;
}

.prevNext a:hover {
    color: #368CCB;
}

.prevNext {
    width: 100%;
    min-height: 3em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.prevNext div {
    cursor: pointer;
    display: inline-block;
    min-width: 100px;
    text-align: center;
    padding: 10px;
}