<%- include('./partials/header') %>
<%- include('./partials/navigation') %>
<%- include('./partials/message') %>
<div class="center">
    <div class="w3-card-4">
        <div class="w3-container w3-green">
            <h3>Provide credentials</h3>
        </div>
        <form action="/api/login" method="post">
            <div class="w3-container w3-center">
                <div class="w3-panel">
                    <label>
                        <input class="w3-input w3-animate-input w3-hover-shadow" type="text" name="username"
                               placeholder="username" required>
                    </label><br>
                    <label>
                        <input class="w3-input w3-animate-input w3-hover-shadow" type="password" name="password"
                               placeholder="password" required>
                    </label><br>
                </div>
                <div class="w3-section">
                    <input type="reset" value="Clear" class="w3-button w3-red">
                    <input type="submit" value="Login" class="w3-button w3-green">
                </div>
            </div>
        </form>
    </div>
</div>
<%- include('./partials/end') %>
