<% if(config.allow_comments === 'true' && page.commentStatus === 1){ %>
    <% if(config.disqus !== undefined && config.disqus !== "") { %>
    <div id="disqus_thread"></div>
    <script>
      var disqus_config = function() {
        this.page.url = "https://<%- config.domain %>/page/<%- page.link %>";  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = "<%- page.link %>"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };

      (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://<%= config.disqus %>.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <% } %>
<% } %>
