<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous shadow" href="<%= prev ? "/"+prev : "."%>">上一页</a>
    <a class="pagination-next shadow" href="<%= next ? "/"+next : "."%>">下一页</a>
</nav>