<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous shadow" href="<%= prev ? "/"+prev : "."%>">Previous</a>
    <a class="pagination-next shadow" href="<%= next ? "/"+next : "."%>">Next Page</a>
</nav>