<nav class="pagination is-centered" role="navigation" aria-label="pagination">
    <a class="pagination-previous shadow" href="<%= prev ? "/pagination/"+prev : "."%>">Previous</a>
    <a class="pagination-next shadow" href="<%= next ? "/pagination/"+next : "."%>">Next Page</a>
</nav>